Assignment 1
Read the given datasets 'bank_marketing.csv'

Kindly use this attachment Bank Marketing Data Description
Load the necessary libraries 
 load the given dataset and prepare the dataset by following the steps given below:

•	Ensure the datatypes of the columns are appropriate
•	Drop the variable “Unnamed: 0”, missing values, duplicated values
•	Convert the categorical variables into dummy variables
•	Split the data into train (70%), test (30%) and set random state as 0

Build a KNN model using the train dataset (k=7) and. Using the model that has been built, answer the following question.

What is the value of accuracy of the model on the test dataset?

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('bank_marketing.csv')

In [3]:
# Drop the "Unnamed: 0" column
df = df.drop("Unnamed: 0", axis=1)

# Drop missing values
df = df.dropna()

# Remove duplicate rows
df = df.drop_duplicates()

In [4]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,41,services,married,unknown,no,88,yes,no,cellular,11,may,105,1,336,2,failure,no
1,56,technician,married,secondary,no,1938,no,yes,cellular,26,feb,229,1,192,4,success,yes
2,30,services,single,secondary,no,245,no,yes,cellular,8,jul,187,2,-1,0,unknown,no
3,34,management,single,tertiary,no,1396,yes,no,cellular,17,jul,630,1,-1,0,unknown,no
4,29,technician,single,secondary,no,-13,yes,no,cellular,14,may,512,3,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5576,48,admin.,married,secondary,no,2235,yes,yes,unknown,15,may,755,2,-1,0,unknown,no
5577,40,blue-collar,married,primary,no,-388,yes,no,cellular,4,may,195,3,340,1,failure,no
5578,27,student,single,secondary,no,91,no,no,telephone,4,dec,157,6,95,37,other,no
5579,46,blue-collar,married,secondary,no,1568,yes,no,cellular,2,jun,310,1,55,6,other,yes
5580,39,services,married,secondary,no,0,yes,no,cellular,8,may,503,1,-1,0,unknown,no

In [11]:
# Convert categorical variables into dummy variables
df = pd.get_dummies(df, columns=['job', 'marital','education','default','housing','loan','contact','month','poutcome','deposit'])

In [12]:
df

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,deposit_no,deposit_yes
0,41,88,11,105,1,336,2,False,False,False,...,True,False,False,False,True,False,False,False,True,False
1,56,1938,26,229,1,192,4,False,False,False,...,False,False,False,False,False,False,True,False,False,True
2,30,245,8,187,2,-1,0,False,False,False,...,False,False,False,False,False,False,False,True,True,False
3,34,1396,17,630,1,-1,0,False,False,False,...,False,False,False,False,False,False,False,True,True,False
4,29,-13,14,512,3,-1,0,False,False,False,...,True,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5576,48,2235,15,755,2,-1,0,True,False,False,...,True,False,False,False,False,False,False,True,True,False
5577,40,-388,4,195,3,340,1,False,True,False,...,True,False,False,False,True,False,False,False,True,False
5578,27,91,4,157,6,95,37,False,False,False,...,False,False,False,False,False,True,False,False,True,False
5579,46,1568,2,310,1,55,6,False,True,False,...,False,False,False,False,False,True,False,False,False,True
5580,39,0,8,503,1,-1,0,False,False,False,...,True,False,False,False,False,False,False,True,True,False

In [13]:
 X = df.drop('campaign', axis=1)  # Replace 'target_column' with the actual target variable
 y = df['campaign']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
# pip install knn

In [14]:
# Standardize features (important for KNN)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Build KNN model with k=7
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [15]:
y_pred = knn.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of the KNN model on the test dataset: {:.2f}".format(accuracy))

Accuracy of the KNN model on the test dataset: 0.40